<?xml version="1.0"?>

<launch>

  <node pkg="bicycle_lmi_controller" type="bicycle_lmi_controller" name="bicycle_lmi_controller" output= "screen" >
    <param name="command_topic_name" value="/cmd_vel"/>
    <param name="imu_topic_name" value="/bike/imu"/>
    <param name="joint_topic_name" value="/bike/joint_states"/>
    <!-- for low speed kp: 10, ki: 0, kd:0.6 old6 0.2-->
    <!-- 266.1011 46.6233 -17.3143-->
    <!--param name="K1" value="25.8319" /> 
    <param name="K2" value="6.6856" />
    <param name="K3" value="-0.8369" />
    <param name="Ka" value="2.54" /-->
    
    <!--param name="K3" value="-1.6359" /-->
    
<!--    <param name="K1" value="25.1229" /> -->
<!--    <param name="K2" value="5.2253" />-->
<!--    <param name="K3" value="1.6359" />-->
    
    <!--param name="K1" value="32.4522" /> 
    <param name="K2" value="7.0690" />
    <param name="K3" value="0.0207*0.01" /-->
    
    <!--param name="K1" value="27.3021" /> 
    <param name="K2" value="5.1983" />
    <param name="K3" value="-0.4204*0.01" /2022.12.20-->
    
<!--    <param name="K1" value="32.8939" /> -->
<!--    <param name="K2" value="6.5065" />-->
<!--    <param name="K3" value="-0.0010786" />-->

<!--    <param name="K1" value="29.6212" /> -->
<!--    <param name="K2" value="9.1605" />-->
<!--    <param name="K3" value="-0.1089" />-->

    <param name="K1" value="38.9562" /> 
    <param name="K2" value="11.3425" />
    <param name="K3" value="-0.000976" />
    
    <param name="Ka" value="2.54" />
    <!--param name="K1" value="266.1011" /> 
    <param name="K2" value="46.6233" />
    <param name="K3" value="-17.3143" />
    <param name="Ka" value="2.54" /-->
    <!-- DD 0.015 WW 0.01-->
    <!--Mx motor max speed 45[rev/min] at 12V = 4.71238[rad/s], cvrt to rad per 0.01s-->
    <param name="DELTA_DIFF" value="0.04" />
    <param name="W_DIFF" value="5" />
    <param name="THETA_COMP_DIFF" value="100" />
    
  </node>

</launch>
