<?xml version="1.0" encoding="UTF-8"?>

<launch>
<arg name="map_file" default="$(find bicycle_ros)/map/nthu_world.yaml"/>
<node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>




<node pkg="tf" type="static_transform_publisher" name="tf_odom_bike" args="0 0 0 0 0 0 /bike/odom /bike/base_link 50"/>
<!--node pkg="tf" type="static_transform_publisher" name="tf22" args="79.5 -3 0.6 2.7 0 0 /map /bike/base_link 5"/-->
<!--node pkg="tf" type="static_transform_publisher" name="tf_map_odom" args="0 0 0 0 0 0 /map /bike/odom 5"/-->



<group ns="/bike">
  <arg name="model" default="$(find bicycle_ros)/urdf/bicycle.xacro"/>
  <arg name="gui" default="true"/>
  <param name="tf_prefix" value="/bike" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg model) ns:=/bike"/>
  <param name="use_gui" value="$(arg gui)"/>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
    respawn="false" output="screen" ns="/bike" args="--namespace=/bike 
    joint_state_controller
    front_fork_controller  
    back_wheel_controller
    --timeout 60">
  </node> 

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="/joint_states" to="/bike/joint_states"/>
    <param name="publish_rate" type="double" value="200.0" />
    <param name="tf_prefix" value="/bike" />
  </node>
    
      
</group>


<arg name="rvizconfig" default="$(find bicycle_ros)/launch/display.rviz"/>
<node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
</launch>
